<div class="allcards">
    <div class="container pb-5 mb-5">
        <h3 class="stage pt-3 pb-3"></h3>
        <div class="row g-2">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center hov">Sanja's Travels</h5>
                        <p class="card-text text-center">Naturarena Hohe Warte <br> Klabundgasse 11 <br> 1190 Wien</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title hov text-center">Contact</h5>
                        <p class="card-text text-center">hello@feelgood-festival.at
                            <br> +43 664 75 102302 </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title hov text-center">Office</h5>
                        <p class="card-text text-center">MMAX OG
                            <br> Eckpergasse 19
                            <br> 1190 Wien</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>