<div class="wrap pt-5 text-center opacity-100">
    <p class="display-3 pb-2">{{title}}</p>
    <hr id="line">
    <div class="wrapItUp">
        <div class="row cols-lg-3 cols-md-2 cols-sm-1 mt-4 mb-4 p-3" id="row">
            <div class="col mx-0 mt-3">
                <div class="mb-1">
                    <i class="fas fa-building circle"></i>
                    <div class="card-body p-0">
                        <h5 class="card-title text-center text-light p-1">{{first}}</h5>
                        <p class="text-center mb-2 text-light d-flex vaccine justify-content-center">{{firstP}}</p>
                    </div>
                </div>
            </div>
            <div class="col mx-0 mt-3">
                <div class="mb-1">
                    <i class="fa-solid fa-plane circle"></i>
                    <div class="card-body p-0">
                        <h5 class="card-title text-center text-light p-1">{{second}}</h5>
                        <p class="text-center mb-2 text-light d-flex vaccine justify-content-center">{{secondP}}</p>
                    </div>
                </div>
            </div>
            <div class="col mx-0 mt-3">
                <div class="mb-1">
                    <i class="fa-solid fa-people-group circle"></i>
                    <div class="card-body p-0">
                        <h5 class="card-title text-center text-light p-1">{{third}}</h5>
                        <p class="text-center mb-2 text-light d-flex vaccine justify-content-center">{{thirdP}}</p>
                    </div>
                </div>
            </div>
            <div class="col mx-0 mt-3">
                <div class="mb-1">
                    <i class="fa-solid fa-star circle"></i>
                    <div class="card-body p-0">
                        <h5 class="card-title text-center text-light p-1">{{four}}</h5>
                        <p class="text-center mb-2 text-light d-flex vaccine justify-content-center">{{fourP}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="allcards">
        <div class="container">
            <p class="display-3 pb-2">{{natpis}}</p>
            <hr id="line">
            <div class="row  g-3 mb-3 mt-">
                <div class="col-sm-12 col-md-6 col-lg-6 column">
                    <div class="card">
                        <img src={{pics1}} class="card-img-top" alt="rihanna">
                        <div class="card-img-overlay">
                            <h5 class="flower-title text-white card-title align-center">Jasna, Slovakia</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 column">
                    <div class="card">
                        <img src={{pics2}} class="card-img-top" alt="rihanna">
                        <div class="card-img-overlay">
                            <h5 class="flower-title text-white card-title">Jasna, Slovakia</h5>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="row g-3 mb-3 mt-3">
                <div class="col-sm-12 col-md-6 col-lg-6 column">
                    <div class="card">
                        <img src={{pics3}} class="card-img-top" alt="rihanna">
                        <div class="card-img-overlay">
                            <h5 class="flower-title text-white card-title">Jasna, Slovakia</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 column">
                    <div class="card">
                        <img src={{pics4}} class="card-img-top" alt="rihanna">
                        <div class="card-img-overlay">
                            <h5 class="flower-title text-white card-title">Jasna, Slovakia</h5>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="row g-3 mb-3 mt-">
                <div class="col-sm-12 col-md-6 col-lg-6 column">
                    <div class="card">
                        <img src={{pics5}} class="card-img-top" alt="rihanna">
                        <div class="card-img-overlay">
                            <h5 class="flower-title text-white card-title">Jasna, Slovakia</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 column">
                    <div class="card">
                        <img src={{pics6}} class="card-img-top" alt="rihanna">
                        <div class="card-img-overlay">
                            <h5 class="flower-title text-white card-title">Jasna, Slovakia</h5>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>