<div class="container mt-5 mb-5 bg-dark text-light">
    <p>Manage Your Trip (MYT) provides the ultimate Cloud platform for Tour Operators and DMCs, covering operations, registration & reservation system, back-office management, marketing aspects and reporting. Taking travel technology to the next level, with
        the all-in-one intuitive system! - Itinerary Creator - Quotation Tool - Operations Management - Supplier Reservation System - Participant registration - Back-Office - Unique CRM - Marketing Tools</p>
</div>